<div class="flex flex-col lg:flex-row w-full gap-8 justify-between mt-16">
  <div
    class="lg:w-1/2 leading-[100%]"
    [ngClass]="{
      'text-white': isDarkTheme,
      'text-[#3b4d66]': !isDarkTheme
    }"
  >
    <div class="lg:h-[75%]">
      <p
        class="italic text-[20px] font-normal leading-[100%] pb-4 text-[#abc1e1]"
      >
        Question {{ currentQuestionIndex + 1 }} of 10
      </p>
      <h1
        class="lg:text-[36px] text-[24px] font-medium leading-[100%]"
        *ngIf="currentQuestion"
      >
        {{ currentQuestion.question }}
      </h1>
    </div>

    <div class="question-indicator my-6">
      <div
        [ngClass]="{
          'rounded-3xl p-2': true,
          'bg-white': !isDarkTheme,
          'bg-[#3b4d66]': isDarkTheme
        }"
      >
        <div
          class="progress-bar rounded-3xl bg-[#a729f5] h-5"
          [style.width]="progress"
        ></div>
      </div>
    </div>
  </div>

  <div class="lg:w-2/4 flex flex-col space-y-6 mb-6">
    <div
      *ngFor="let option of currentQuestion?.options; let i = index"
      [class.correct]="showAnswer && option === currentQuestion?.answer"
      [class.incorrect]="
        showAnswer && i === selectedOption && option !== currentQuestion?.answer
      "
      [class.selected]="i === selectedOption"
      (click)="selectOption(i)"
      class="border-[3px]  hover:border-[#a729f5] flex items-center w-full gap-5 rounded-2xl p-3 lg:p-5 cursor-pointer"
      [ngClass]="{
        'bg-[#3b4d66] border-[#3b4d66] text-white': isDarkTheme,
        'bg-white text-[#3b4d66] border-white': !isDarkTheme
      }"
    >
      <div
        class="bg-[#f4f6fa] text-[#626c7f] rounded-md text-[14px] lg:text-[28px] p-5"
        [class.selected-bg]="i === selectedOption"
        [class.incorrect-bg]="
          showAnswer &&
          i === selectedOption &&
          option !== currentQuestion?.answer
        "
        [class.correct-bg]="showAnswer && option === currentQuestion?.answer"
      >
        {{ "ABCDEFGHIJKLMNOPQRSTUVWXYZ"[i] }}
      </div>

      <div class="text-[16px] lg:text-[28px] font-medium lg:leading-[100%]">
        {{ option }}
      </div>

      <div class="flex justify-end ml-auto">
        <svg
          *ngIf="
            showAnswer &&
            i === selectedOption &&
            option !== currentQuestion?.answer
          "
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="none"
          viewBox="0 0 40 40"
        >
          <path
            fill="#EE5454"
            d="M20 5a15 15 0 1 1 0 30 15 15 0 0 1 0-30Zm0 2.5a12.5 12.5 0 1 0 0 25 12.5 12.5 0 0 0 0-25Zm-5.402 7.415.142-.175a1.25 1.25 0 0 1 1.595-.143l.175.143L20 18.233l3.49-3.493a1.25 1.25 0 0 1 1.595-.143l.175.143a1.25 1.25 0 0 1 .142 1.595l-.142.175L21.767 20l3.493 3.49a1.25 1.25 0 0 1 .142 1.595l-.142.175a1.25 1.25 0 0 1-1.595.142l-.175-.142L20 21.767l-3.49 3.493a1.25 1.25 0 0 1-1.595.142l-.175-.142a1.25 1.25 0 0 1-.143-1.595l.143-.175L18.233 20l-3.493-3.49a1.25 1.25 0 0 1-.143-1.595Z"
          />
        </svg>

        <svg
          *ngIf="showAnswer && option === currentQuestion?.answer"
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="none"
          viewBox="0 0 40 40"
        >
          <path
            fill="#26D782"
            d="M20 5a15 15 0 1 1 0 30 15 15 0 0 1 0-30Zm0 2.5a12.5 12.5 0 1 0 0 25 12.5 12.5 0 0 0 0-25Zm-1.875 15.105L25.3 15.41a1.25 1.25 0 0 1 1.915 1.593l-.145.174-8.06 8.08a1.25 1.25 0 0 1-1.595.148l-.175-.145-4.375-4.375a1.25 1.25 0 0 1 1.595-1.913l.175.143 3.49 3.49Z"
          />
        </svg>
      </div>
    </div>
    <button
      (click)="showAnswer ? nextQuestion() : submit()"
      class="bg-[#a729f5] hover:bg-[#a729f59e] text-center lg:p-7 p-4 rounded-2xl text-[24px] text-white my-5"
    >
      {{ showAnswer ? "Next Question" : "Submit" }}
    </button>

    <div
      class="flex flex-row items-center gap-2 justify-center"
      *ngIf="submitClicked && selectedOption === null"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        fill="none"
        viewBox="0 0 40 40"
      >
        <path
          fill="#EE5454"
          d="M20 5a15 15 0 1 1 0 30 15 15 0 0 1 0-30Zm0 2.5a12.5 12.5 0 1 0 0 25 12.5 12.5 0 0 0 0-25Zm-5.402 7.415.142-.175a1.25 1.25 0 0 1 1.595-.143l.175.143L20 18.233l3.49-3.493a1.25 1.25 0 0 1 1.595-.143l.175.143a1.25 1.25 0 0 1 .142 1.595l-.142.175L21.767 20l3.493 3.49a1.25 1.25 0 0 1 .142 1.595l-.142.175a1.25 1.25 0 0 1-1.595.142l-.175-.142L20 21.767l-3.49 3.493a1.25 1.25 0 0 1-1.595.142l-.175-.142a1.25 1.25 0 0 1-.143-1.595l.143-.175L18.233 20l-3.493-3.49a1.25 1.25 0 0 1-.143-1.595Z"
        />
      </svg>
      <p class="text-red-500 text-[24px] font-normal">
        Please select an answer
      </p>
    </div>
  </div>
</div>
