<div class="flex flex-col md:flex-row w-full justify-between mt-16">
  <div class="text-white lg:w-1/2">
    <h1 class="font-light lg:text-[64px] text-[40px] leading-[100%]">
      Welcome to the
    </h1>
    <h1 class="lg:text-[64px] text-[40px] font-medium leading-[100%]">
      Frontend Quiz!
    </h1>
    <p
      class="italic text-[20px] font-normal leading-[100%] py-12 text-[#abc1e1]"
    >
      Pick a subject to get started.
    </p>
  </div>

  <div class="lg:w-2/4 flex flex-col space-y-6">
    <div
      class="border-2 border-[#3b4d66] hover:border-[#a729f5] flex items-center w-full gap-5 rounded-2xl text-white p-7 cursor-pointer bg-[#3b4d66]"
    >
      <div class="bg-[#FFF1E9] rounded-md p-2">
        <img src="./assets/images/icon-html.svg" alt="" />
      </div>

      <div class="text-[28px] font-medium leading-[100%]">HTML</div>
    </div>
    <div
      class="border-2 border-[#3b4d66] hover:border-[#a729f5] flex items-center w-full gap-5 rounded-2xl text-white p-7 cursor-pointer bg-[#3b4d66]"
    >
      <div class="bg-[#e0fdef] rounded-md p-2">
        <img src="./assets/images/icon-css.svg" alt="" />
      </div>

      <div class="text-[28px] font-medium leading-[100%]">CSS</div>
    </div>
    <div
      class="border-2 border-[#3b4d66] hover:border-[#a729f5] flex items-center w-full gap-5 rounded-2xl text-white p-7 cursor-pointer bg-[#3b4d66]"
    >
      <div class="bg-[#ebf0ff] rounded-md p-2">
        <img src="./assets/images/icon-javascript.svg" alt="" />
      </div>

      <div class="text-[28px] font-medium leading-[100%]">JavaScript</div>
    </div>
    <div
      class="border-2 border-[#3b4d66] hover:border-[#a729f5] flex items-center w-full gap-5 rounded-2xl text-white p-7 cursor-pointer bg-[#3b4d66]"
    >
      <div class="bg-[#f6e7ff] rounded-md p-2">
        <img src="./assets/images/icon-accessibility.svg" alt="" />
      </div>

      <div class="text-[28px] font-medium leading-[100%]">Accessibilty</div>
    </div>
  </div>
</div>
