@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.correct {
  border-color: #26d782 !important;
  border-width: 3px;
}

.incorrect {
  border-color: #ee5454 !important;
  border-width: 3px;
}

.selected {
  border-color: #a729f5;
}
.selected-bg {
  background-color: #a729f5;
  color: white;
}
.correct-bg {
  background-color: #26d782;
  color: white;
}
.incorrect-bg {
  background-color: #ee5454;
}
